@page "/"
@using global::Shared.Models.Artwork;
@using global::Shared.Models.UserAccountInfo;
@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory
@inject AuthenticationStateProvider AuthenticationStateProvider

<!-- Showcase features -->
@* could I create two views, loggedin/out for marketing then one for a user with an account *@
@* maybe just use an if/else statement to load two sets of html code if the user is authenticated *@
<div class="container">
    <!-- Hero Section -->
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to VibrantCast</h1>
        <p class="lead">Explore and discover the latest artworks.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/explore" role="button">Explore</a>
    </div>
</div>

<div class="col m-5">
    <h5>Latest Artwork</h5>
    @if (_artistWorks != null)
    {
        <div class="row g-3 art-grid">
            @foreach (var artwork in _artistWorks.Take(4))
            {
                <div class="col-lg-3 col-md-4 mb-3">
                    <a href="@($"/artwork/public/{artwork.Id}")">
                        <img src="data:image/png;base64,@Convert.ToBase64String(artwork.FullImage)" alt="@artwork.Title"
                            class="img-fluid rounded artwork-image">
                    </a>
                    <h5 class="artwork-title">@artwork.Title</h5>
                </div>
            }
        </div>
    }
    else
    {
        <p>Loading...</p>
    }

</div>




@code {

    //might not need anything here unless I want to show some art on the homepage
    private IEnumerable<ArtworkDetail> _artistWorks;
    private IEnumerable<UserAccountInfoDetail> _artists;

    protected override async Task OnInitializedAsync()
    {
        //for use when not logged in

        var HttpPublic = HttpClientFactory.CreateClient("HttpPublic");

        _artistWorks = await HttpPublic.GetFromJsonAsync<List<ArtworkDetail>>("api/artwork/public");
        _artistWorks = _artistWorks.OrderBy(a => Guid.NewGuid()).ToList();

        _artists = await HttpPublic.GetFromJsonAsync<List<UserAccountInfoDetail>>("api/profile/accountinfo/public-users");


    }
}
