@page "/mediumtag/create"
@using global::Shared.Models.MediumTags;
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager navigation

<PageTitle>Membership Types</PageTitle>

<h1>Membership Types</h1>

@if (errorMessage != null)
{
    <h5 class="text-danger">@errorMessage</h5>
}

<div class="container">
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="model.Name" />
            <label>Description</label>
            <InputText class="form-control" @bind-Value="model.Description" />
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-5"> Submit </button>
    </EditForm>


</div>


@code {

    private readonly MediumTagCreate model = new();

    private string errorMessage;

    private async void HandleSubmit()
    {
        model.DateCreated = DateTime.Now;

        var createResponse = await Http.PostAsJsonAsync<MediumTagCreate>("api/mediumtag/create", model);

        if (createResponse.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/mediumtags");
        }
        else
        {
            errorMessage = "Could not create medium tag right now. Please try again.";
        }
    }

}