@page "/mediumtag/edit/{Id:int}"
@using global::Shared.Models.MediumTags;
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager navigation
@inject IJSRuntime jsRuntime

<PageTitle>Edit Medium Tag</PageTitle>

<h1>Medium Tag</h1>

@if (errorMessage != null)
{
    <h5 class="text-danger">@errorMessage</h5>
}

@if (!isLoading)
{

    <div class="container">
        <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                @if (model != null)
                {
                    <label>Name</label>
                    <InputText class="form-control" @bind-Value="model.Name" />
                    <label>Description</label>
                    <textarea class="form-control" @bind="model.Description" id="descriptionTextArea" rows="5"></textarea>
                    <label>Date Modified (mm/dd/yy if not modified)</label>
                    <InputDate class="form-control" @bind-Value="model.DateModified" />
                }
                else
                {
                    <p>No medium tag found</p>
                }
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-5"> Submit </button>
        </EditForm>
    </div>
}
else
{
    <p>Loading...</p>
}



@code {

    [Parameter]
    public int Id { get; set; }
    private MediumTagEdit? model { get; set; }

    private string? errorMessage;

    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        model = await Http.GetFromJsonAsync<MediumTagEdit>($"/api/mediumtag/edit/{Id}");
        isLoading = false;
    }


    private async void HandleSubmit()
    {
        model.DateModified = DateTime.Now;

        var createResponse = await Http.PutAsJsonAsync<MediumTagEdit>($"api/mediumtag/edit/{Id}", model);

        if (createResponse.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/mediumtags");
        }
        else
        {
            errorMessage = "Could not update account information right now. Please try again.";
        }
    }

}